@CHARSET "UTF-8";
/* * {
	margin: 0px;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font: normal 75% Georgia, sans-serif;
} */

.header {
	height: 70px;
	/*background-color: #F1F1F1; */
}

.footer {
	height: 40px;
	/*background-color: #F1F1F1;*/
}

/*
.footer ul {
	color: #999999;
	float: left;
	max-width: 80%;
	line-height: 17px;
	list-style: none outside none;
	padding-top: 9px;
}
*/
a:visited,
a:link {
  text-decoration: none;
}

body,
p,
td,
th,
input,
select,
button,
dd,
dl,
dt,
ul,
ol,
li,
textarea {
  font-family: "Microsoft YaHei", Helvetica, Verdana, Arial, Tahoma;
}

p,
dd,
dl,
dt,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

body {
  word-wrap: break-word;
  word-break: break-word;
}

input {
  overflow: hidden;
}

pre {
	white-space:pre-wrap; /* css3.0 */
	white-space:-moz-pre-wrap; /* Firefox */
	white-space:-pre-wrap; /* Opera 4-6 */
	white-space:-o-pre-wrap; /* Opera 7 */
	word-wrap:break-word; /* Internet Explorer 5.5+ */
}

.footer ul li {
	display: inline;
	font-size: 0.85em;
	color: #999999;
}

.floater {
	height: 50%;
	margin-bottom: -169px;
}

.login-title {
	clear: both;
	background: url(../images/51talking.gif);
	width: 181px;
	height: 39px;
	margin-left: auto;
	margin-right: auto;
}

.maincontent {
	width: 338px;
	height: 210px;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF;
	padding-left: 8px;
	padding-top: 8px;
}

.mainarea {
	background: #0099FF;
}

.login-area {
	width: 329px;
	height: 200px;
	background: #FCFCFC;
	border: 1px solid #999999;	
}

.login-font {
	color: #666666;
}

.login-area-boxing {
	padding: 20px 25px 15px;
}

.login-input {
	height: 1.5 rem;
	width: 250px;
	border: 1px solid #666666;
}

.login-button {
	width: 80px;
	height: 30px;
}

.login-button-panel {
	padding-left: 35px;
}

#signin {
	margin-right: 20px;
}

.username-div, .password-div {
	padding-bottom: 15px;
}

.resizer {
	background: #FFFFFF;
	border-top: 1px solid #666666;
}

.bottom-logo {
	background: url('../images/bottom-title.gif') no-repeat;
	width: 155px;
	height: 40px;
	float: left;
	margin-top: 10px;
}

.bottomarea {
	background: #FFFFFF;
}

.bottom-right {
	padding-top: 30px;
	float: right;
	height: 15px;
	widht: 120px;
}

.bottom-right span {
	font-size: 0.75em;
	color: #8C8C8C;
	padding-right: 5px;
}

.header-left {
	float: left;
	width: 400px;
	height: 30px;
	font-size: 1.5em;
	color: #FFFFFF;
	padding-left: 20px;
	padding-top: 5px;
}
.header-right {
	height: 30px;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
	font-size: 1em;
	color: #FFFFF;
}

.exit-link-text {
	color: #FFFFFF;
	
}

.frame-resizer {
	background: #fff !important;
}

.frame-resizer-north {
	background: #0099CC !important;
}

.ui-layout-toggler-north {
	background: #fff !important;
	width: 0px !important;
	height: 0px !important;
}

.ui-layout-toggler-west {
	background: #0099CC !important;
}

#header-area {
	background: #0099CC !important;
	border: 0px !important;
}



.l-topmenu {
	margin:0;
	padding:0; 
	height:31px; 
	line-height:31px; 
	background:url('../images/top.jpg') repeat-x bottom;  
	position:relative; 
	border-top:1px solid #1D438B;  
}

.l-topmenu-logo {
	color:#E7E7E7; 
	padding-left:35px; 
	line-height:26px;
	background: no-repeat 10px 5px;
}

.l-topmenu-welcome {
	position:absolute; 
	height:24px; 
	line-height:24px;  
	right:30px; 
	top:2px;
	color:#070A0C;
}

.l-topmenu-welcome a { 
	color:#E7E7E7; 
	text-decoration:underline
}

.button-panel {
	padding-bottom: 10px;
}

.form-input {
	width: 95%;
	margin-bottom: 12px;
	border: 1px solid #0099CC;
}

label {
	display: block;
	margin-bottom: 8px;
}

.small-icon-button {
	width: 20px;
	height: 20px;
}

fieldset {
	border: 0px;
}

.subject-input {
	border: 1px solid #0099CC;
	width: 250px
}

.show-title {
	border-bottom: 1px solid #0099CC;
}

.show-other-title {
	padding-left: 20px;
}

.show-other-title li {
	list-style-type: decimal;
}



