<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0" metadata-complete="true">
	<display-name>kms</display-name>
	<welcome-file-list>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list>

	<!-- Spring的配置文件 -->
	<context-param>  
        <param-name>contextConfigLocation</param-name>  
        <param-value>classpath:application.xml</param-value>  
    </context-param>  
    
	<!-- *******************Resteasy Config Section **********************-->
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/rest/</param-value>
	</context-param>

	<context-param>
		<param-name>resteasy.logger.type</param-name>
		<param-value>SLF4J</param-value>
	</context-param>

	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>


	<!-- *******************Resteasy's JSAPI Config Section **********************-->

	<servlet>
		<servlet-name>RESTEasy JSAPI</servlet-name>
		<servlet-class>org.jboss.resteasy.jsapi.JSAPIServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RESTEasy JSAPI</servlet-name>
		<url-pattern>/rest-js</url-pattern>
	</servlet-mapping>
	
	
	<!-- ********************Filter setting ************************************** -->
	<filter>
        <filter-name>tokenFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>tokenFilter</filter-name>
    	<url-pattern>/rest/*</url-pattern>
    </filter-mapping>
    
    <!-- ******************* System Init ********************** -->
	<listener>
		<listener-class>passion.app.kms.base.SystemInitListener</listener-class>
	</listener>
	
</web-app>